<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For U</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
    <body>
        <div class="bokeh-bg">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>

        <div class="main">
            <h1>💛</h1>
            <h2 class = "frnd">Happiest Friendship Day panda🐼</h2>
            <p>I Hope we'll be together, forever...</p>
        </div>
        <script>
            // Block touch-based scrolling on Safari
            document.body.addEventListener('touchmove', function(e) {
                e.preventDefault();
            }, { passive: false });
        </script>
    </body>
</html>